page-login {

ion-content{
	

	.scroll-content{
		background-color: #000000
	}	
}

.item{
	background-color: #000000
}

.logo{
	

	font-size: 25vh;
	margin-top: 50px;
	margin-bottom: 30px;

}

h1,h6 {
	
	font-size: 1em;
	color: white;
}

.row-style{
	background-color: #FFF;
	padding-left:15px;
	border-radius: 30px;
	margin-bottom: 10px;
}
.icon{
	margin-top: 13px;
	margin-right: 10px;
}

}
